*, *::before, *::after {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}
* {
    margin: 0;
    padding: 0;
    font:inherit;
}
img, svg, picture, video {
    display: block;
    max-width: 100%;
}
:root {
    /* Background, outline and button colors */
    --background-white:#fff;
    --background-green:#9fec24;
    --background-dark: #19212e;
    --background-blue:#0578a5;
    /* Font sizes */
	--font-xl:clamp(28px,2vw, 30px);
	--font-l:clamp(24px,2vw, 28px);
	--font-m:clamp(18px,2vw, 20px);
	--font-s:clamp(14px,2vw, 15px);
    --font-xs:clamp(12px,2vw, 14px);
    /* font colors */
    --f-color-wht:#fff;
    --f-color-blk:#322e25;
    --f-color-blue:#1a3967;
    --f-color-purple:#ec24a0;
    --f-color-green:#9fec24;
    /* Links colors */
    --link-color-blue:#3598db;
    --link-color-lightblue:#0578a5;
    /* Button colors */
    --btn-color-purple:#ec24a0;
    --btn-color-purple2:#a11e6f;
    --btn-color-blue:#0578a5;
    --btn-color-blue2:#3598db;
    --btn-color-green:#9fec24;
    --btn-color-green2:#bbd800;
    --btn-color-green3:#a5be00;
    --btn-color-yellow:#f2ca27;
    --btn-color-yellow2:#f1c40f;
    /* Margins */
    --margin-sm:10px;
    --margin-lr:1em;
    --margin-xl:2em;
    /* Box Shadow */
    --box-shadow-1:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --box-shadow-2:rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --box-shadow-3:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* Opacity */
    --context-opacity-1:.8;
    --context-opacity-2:.5;
}
/* Text Styling */
ul {
	list-style-type: none;
}
a {
    color:var(--link-color-blue);
	text-decoration: none;
}
a:hover {
    color:var(--link-color-lightblue);
}
p {
    font-size: var(--font-s);
}
h1, h2, h3 {
    font-size: var(--font-l);
}
input {
    outline-style: none;
}
.txt-align {
    text-align: center;
}
/* Margin * Padding Indent */
.margin-1-b {
    margin-bottom: 10px;
}
.margin-1 {
    margin: 1em;
}
.p-indent {
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-word;
}
/* Links & Buttons */
input, .btn {
    width: 100%;
    height: 37px;
    border-radius: 8px !important;
    transition: background-color .2s  ease;
}
.btn {
    font-weight: 600;
    border:none;
    padding: 0!important;
    color:var(--f-color-wht);
}
input {
    background-size: 16px !important;
	background-position:7px 9px !important;
    text-align: center;
	/* padding-left: 30px !important; */
    border:1px solid grey;
    transition: border .2s  ease;
    margin-bottom: var(--margin-sm);
    font-weight: bold;
}
.user-input {
    background: url(../img/voucher.svg) no-repeat;
    background-color: white !important;
    height: 43px !important;
    border:1px solid var(--btn-color-blue);
}
.user-input:hover {
    border:1px solid var(--link-color-lightblue);
    box-shadow: 0px 0px 5px var(--link-color-blue);
}
.user-password {
    display: none;
    margin-bottom: var(--margin-lr) !important;
    background: url(../img/password.svg) no-repeat;
}
.btn-connect {
    background-color: var(--btn-color-blue);
    color:var(--f-color-wht);
    font-size:var(--font-m);
}
.btn-connect:hover {
    background-color:var(--btn-color-blue2);
}
.btn-trial {
    background-color:var(--btn-color-yellow);
}
.btn-trial:hover {
    background-color:var(--btn-color-yellow2);
}
.btn-wifirates {
    color:#333;
    background-color:var(--btn-color-green);
}
.btn-wifirates:hover {
    background-color:var(--btn-color-green2);
}
.btn-small {
    width: min(130px, 100%);
    margin: var(--margin-lr) auto;
    background-color: var(--btn-color-green);
    color:black;
}
.btn-small:hover {
    background-color: var(--btn-color-green2);
}
/* General body styling */
body {
    display: grid;
    align-items: center;
    background:url(../img/wired.svg);

    background-color: var( --background-white);
    font-family: sans-serif;
    min-height: 100vh;
    font-size: var(--font-s);
    color:var(--f-color-blue);
}
.hotspot-header {
    margin-bottom: var(--margin-lr);
}
.hotspot-header h1 {
    font-weight: bolder;
    line-height: 1;
    color:var(--f-color-green)
}
.input-container, .box-container {
    width: min(250px, 100%);
}
/*Grid */
.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}
/* Prevent executing transition when onload*/

/* Login.html */
.error {
    color:var(--f-color-purple);
    font-weight: bold;
}
.main-container * {
    margin-inline: auto !important;
}
.main-container .container {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(95vh, auto) minmax(5vh, auto);
	width: min(800px, 100% - 1em);
    padding-bottom: 1em;
    backdrop-filter: blur(5px);
}
.main-container   .container .box {
    align-self: center;
    width: min(270px, 100% - 1em);
}
.super-icon {
    width: min(250px, 100% - 1em);
}
.sub-form {
    display: flex;
    align-items: center;
    column-gap: 1em;
}
.switcher {
    color:var(--link-color-blue);
    cursor: pointer;
    font-weight: bold;
}
.switcher:hover {
    color:var(--link-color-lightblue);
}
.device-info {
    width: min(250px, 100% - 1em);
    grid-template-columns: repeat(2, 1fr);
    padding:10px;
    font-size: 9px;
}
.device-info div {
    margin-top: 10px;
    margin-bottom: 20px;
}
.device-info div p {
    font-size: clamp(11px,2vw, 12px);
    color:rgba(28, 123, 146, 0.9)
}
.device-info div p:nth-child(2) {
    color:rgba(8, 235, 159, 0.9);
}

.device-info hr {
    grid-column: 1/3;
    width: 100%;
    opacity: .3;
    border:1px solid var(--background-dark);
}
/* Login > wifi container */
.wifi-rate-container {
    display: none;
    width: min(280px, 100%);
    text-align: center;
    cursor: pointer;
}
.wifi-rate-container .rate-container:nth-child(2) {
    font-weight: bolder;
}
.wifi-rate-container .rate-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0;
}
.rate-container:nth-of-type(even) {
	background-color:rgba(7, 139, 247, 0.2);
    border-radius: 6px;
}
/* Login > reminder container */
#reminder-container {
    display: none;
}
.reminder-container {
    display: none;
    width: min(280px, 100%);
    cursor: pointer;
    position: relative;
}
.reminder-container h4{
    font-weight: bold !important;
}
.reminder-container .ol-hw  {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: 'my-counter';
}
.reminder-container .ol-hw > li {
    counter-increment: my-counter;
    margin: var(--margin-sm) auto;
    padding-left: 30px;
}
.reminder-container .ol-hw li::before {
    content: counter(my-counter);
    color:var(--f-color-wht);
    background-color:var(--background-green);
    line-height: 1;
    font-weight: bold;
    display: inline-grid;
    place-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    position: absolute;
    left: -10px;
}
.domain-title {
    color:var(--f-color-purple);
    font-weight:bold;
}
/* Terms */
.main-container .container .terms {
    padding: 0 1em;
    width: min(800px, 100% - 1em);
}
.terms .ol-hw  {
    list-style: none;
    padding:0;
    margin: 0;
    counter-reset: 'my-counter';
}
.terms .ol-hw > li {
    counter-increment: my-counter;
    margin: var(--margin-sm) auto;
   
}
.terms .ol-hw li::before {
    content: counter(my-counter);
    color:var(--f-color-wht);
    background-color:var(--background-green);
    line-height: 1;
    font-weight: bold;
    display: inline-grid;
    place-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;  
}
/* Status.html */
.main-container .container .status-container {
    width: min(280px, 100% - 1em);
}
.device-header  {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    padding: 8px 1em;
	margin: 0;
	border: 1px solid rgba(236, 236, 236, 0.5);
}
.timer-container .device-header p:nth-child(2), .device-container .device-header p:nth-child(2) {
    text-align: right;
}
.timer-container .device-header p , .device-container .device-header p {
    width: 100%;
    text-align: left;
    font-size: var(--font-xs);
}
.timer-container .device-header:nth-of-type(1) {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}
.timer-container .device-header:nth-of-type(2) {
    border-radius:  0 0 10px 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:rgba(7, 139, 247, 0.2);
}
.timer-container .device-header:nth-of-type(1) p:nth-child(2) {
    color:var(--f-color-green) !important;
}
.timer-container .device-header:nth-of-type(1) p:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.timer-container .device-header:nth-of-type(1) p:nth-child(1)::before {
    content: '';
    width: 15px;
	height: 15px;
    background: url(../img/signal-solid.svg) no-repeat center;
    background-size: cover;
}
/* connected */
.timer-container .device-header:nth-of-type(2) p:nth-child(2) {
    font-weight: bolder;
    color:var(--f-color-blue) !important;
    font-size: clamp(13px,2vw, 14px);
}
.timer-container .device-header:nth-of-type(1) p:nth-child(2) {
    color:var(--f-color-green) !important;
    display: flex;
    align-items: center;
    justify-content: end;
}
.timer-container .device-header:nth-of-type(1) p:nth-child(2)::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--background-green);
    border-radius: 12px;
    margin-right: 5px;
}
/* disconnected */
.discon .device-header:nth-of-type(1) p:nth-child(2)  {
    color:red !important;
    display: flex;
    align-items: center;
    justify-content: end;
}
.discon .device-header:nth-of-type(1) p:nth-child(2)::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 12px;
    margin-right: 5px;
}
/* Device Info */
.device-container .device-header {
    border-bottom: none;
}
.device-container .device-header:nth-of-type(1)  {
    border-radius: 10px 10px 0 0;
    
}
.device-container .device-header:last-child {
    border-radius:  0 0 10px 10px;
    border: 1px solid rgba(236, 236, 236, 0.5);
}
/* footer */
footer {
    text-align: center;
    padding-bottom: var(--margin-lr);
}
.footer-header {
    font-weight: bold;
}
.faqs {
    color:var(--link-color-blue);
    cursor: pointer;
}
.faqs:hover {
    color:var(--link-color-lightblue);
}
@media (max-width:500px) {
    .main-container .container {
        width: min(800px, 100%);
        backdrop-filter: blur(0px);
    }
    .main-container   .container .status-container {
        align-self: start;
        padding-top: 7em;
    }
    body {
        background:url(../img/background-b.svg) no-repeat bottom right, url(../img/background-t.svg) no-repeat top left;
        background-size: 230px, 220px;
    }
}